@import "utils/libs"
@import "utils/vars"
@import "utils/mixins"
@import "utils/fonts"

*
    padding 0
    margin 0
h1 
    font-family: 'DM Serif Display', serif;
    font-size 40px
    color red
body
    width 100%
    padding 20px
    box-sizing border-box